Coworking_input.json
{
  "name": "Coworking input",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "1kJ8ph026twPxDJCWisqDRAyTk0P4jYRx",
          "mode": "list",
          "cachedResultName": "Coworking",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1kJ8ph026twPxDJCWisqDRAyTk0P4jYRx"
        },
        "event": "fileCreated",
        "options": {}
      },
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        -420,
        -100
      ],
      "id": "53719310-fe8d-4fed-af29-25cda0a185eb",
      "name": "Google Drive Trigger",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "6ICeiP528kUihbUF",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.webViewLink }}",
          "mode": "url"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -200,
        -100
      ],
      "id": "8045e9dc-40ff-4d33-b7a0-1bb27504acef",
      "name": "Google Drive",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "6ICeiP528kUihbUF",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "mode": "insert",
        "pineconeIndex": {
          "__rl": true,
          "value": "coworking1",
          "mode": "list",
          "cachedResultName": "coworking1"
        },
        "options": {
          "pineconeNamespace": "coworkingnamespace"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1,
      "position": [
        20,
        -100
      ],
      "id": "642e0212-bea8-40c8-a10f-8baec50ac92d",
      "name": "Pinecone Vector Store",
      "credentials": {
        "pineconeApi": {
          "id": "6MpPBh5rgeUPbIy2",
          "name": "PineconeApi account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        0,
        80
      ],
      "id": "209bc060-0056-40b1-b72e-eb38c724800a",
      "name": "Embeddings OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "eAwXja4jqAqvtgVB",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "dataType": "binary",
        "options": {
          "metadata": {
            "metadataValues": [
              {
                "name": "data",
                "value": "={{ $json.name }}"
              }
            ]
          }
        }
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1,
      "position": [
        140,
        60
      ],
      "id": "fea2e26f-509c-4df9-ab9e-1455634f016e",
      "name": "Default Data Loader"
    },
    {
      "parameters": {
        "chunkSize": 200,
        "chunkOverlap": 20
      },
      "type": "@n8n/n8n-nodes-langchain.textSplitterTokenSplitter",
      "typeVersion": 1,
      "position": [
        140,
        220
      ],
      "id": "72fa90b6-b7ab-4d82-9d39-d554d80abb5f",
      "name": "Token Splitter"
    }
  ],
  "pinData": {},
  "connections": {
    "Google Drive Trigger": {
      "main": [
        [
          {
            "node": "Google Drive",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Drive": {
      "main": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Token Splitter": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "74c7f909-b619-4f3a-acf4-e23cfc091d3d",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "6687a81ecdc130ec7eb8629f5d42efaf590d115c31cb564d92401a3c14f5f523"
  },
  "id": "Urg2MjhYG7i5k0by",
  "tags": []
}